html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
h2, p{
    margin: 0;
    padding:0;
}

/* ================================ START HEADER ==================== */
.legend-white{
    font-size: 1rem;
    margin: 0 auto;
    text-transform: uppercase;

    font-weight: lighter;
    color: white;
}




.SubscribeNow{
    padding-top: 30px;
    
}
.SubscribeNow >  a{
    border:solid 3px #DBA200;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;

    font-weight: bold;
    text-align: center;
    padding: 15px;
    background-color:#F7D268 ;
    height: 20px;
    width: 200px;
    
    animation: pulse-black 2s infinite;
    box-shadow: 0 0 0 0 rgba(247, 210, 104, 0.7);
    box-sizing: content-box;
    margin: 30px ;

}

@keyframes pulse-black {
    0% {
      
      box-shadow: 0 0 0 0 rgba(247, 210, 104, 0.7);
    }
    
    70% {
      
      box-shadow: 0 0 0 10px rgba(247, 210, 104, 0);
    }
    
    100% {
      
      box-shadow: 0 0 0 0 rgba(247, 210, 104, 0);
    }
  }
  @keyframes pulse-black-true {
    0% {
      
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    
    70% {
      
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    
    100% {
      
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }


/* ============START FLEXBOX============ */
.flex{
    display: flex;
}
.align-self-end{
    align-self: flex-end;
}
.align-self-start{
    align-items: start;
}
.Justify-content-center{
    justify-content: center;
}
.Justify-content-flex-end{
    justify-content: flex-end;
}
.Flex-direction-column{
    flex-direction: column;
}
.Align-items-center{
    align-items: center;
}
/* ============END FLEXBOX============ */